$button: (lg: 200px, md: 100px, sm: 50px);

@mixin buttonSize($width, $height) {
  width: $width;
  line-height: $height;
  font-size: $height/1.5;
  display: inline-block;
  height: $height;
  border-radius: $height/2;
  color: rgba(0,0,0,0);
  background: lime;
  border: 1px solid black;
  box-shadow: 1px 1px 2px grey;
}

@each $size in lg, sm, md {
  .slideButton-#{$size} {
    position: relative;
    $len: map_get($button,$size);
    @include buttonSize($len, $len/2);
  }
  .slideButton-#{$size}:after {
    position: absolute;
    right: 0;
    top: 0;
    content: "";

    $len: map_get($button,$size);
    height: $len/2-4;
    width: $len/2-4;
    border: 1px solid blanchedalmond;
    border-radius: $len/4-2;
    background: white;
  }
}

