$button: (lg: 200px, md: 100px, sm: 50px);

@mixin buttonSize($width, $height) {
  width: $width;
  line-height: 1.5em;
  font-size: $height/1.3;
  display: inline-block;
}

@each $size in lg, sm, md {
  .slideButton-#{$size} {
    $len: map_get($button,$size);
    @include buttonSize($len, $len/2);
  }
}

